# Ambiente virtual
myenv/
.venv/
venv/

# Arquivos de ambiente
.env

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos do VSCode
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Dados gerados
/data/*.json
/data/*.csv
/data/*.xlsx

# Arquivos temporários e de execução
*.pid
*.tmp
*.bak
*.swp
